# Data Types

### Variables

```python 
    ## Strings

    name = "Bryan"
    last_name = "Vasquez Paz"
    middle_name = "David"

    ## Integer numbers

    age = 31

    ## Float numbers

    weight = 82.1

    ## Boolean

    married = True

    print(name)
    print(age)
    print(weight)
    print(married)

## 1 - Strings (str)

```python
    ## Double quote
    my_string = "hello world"

    print(my_string)
    type(my_string)

```python 
    ## Single quote
    my_other_string = 'hello family'
|
    print(my_other_string)

## 2 - Integer (int)

```python
    my_number = 2

    print(my_number)
    type(my_number)

### Operations

```python
    operation_1 = 2 + 2
    operation_2 = 10 - 5
    operation_3 = 11 * 2
    operation_4 = 11 / 2   # Normal division
    operation_5 = 11 // 2  # Quotient
    operation_6 = 11 % 2   # Remainder
    operation_7 = 12 ** 2

    print(operation_1)
    print(operation_2)
    print(operation_3)
    print(operation_4)
    print(operation_5)
    print(operation_6)
    print(operation_7)

## 3 - Float (float)

```python
    my_float = 3.143459

    print(my_float)
    type(my_float)

Try to do some float operations a see it

## 4 - Boolean (bool)

```python
    my_true = True
    my_false = False

    print(my_true)
    print(my_false)
    type(my_true)
    type(my_false)

## 5 - Logic operations

```python
and

    logic_1 = (True and True)
    logic_2 = (True and False)
    logic_3 = (False and True)
    logic_4 = (False and False)

    print(logic_1)
    print(logic_2)
    print(logic_3)
    print(logic_4)

```python
or

    logic_5 = (True or True)
    logic_6 = (True or False)
    logic_7 = (False or True)
    logic_8 = (False or False)

    print(logic_5)
    print(logic_6)
    print(logic_7)
    print(logic_8)

```python
not

    not_true = not True
    not_false = not False

    print(not_true)
    print(not_false)

## 6 - Useful functions

### str()

```python
    age = 35
    type(age)
    print(age)

    age_str = str(age)
    type(age_str)
    print(age_str)

### int()

```python
    year = "2024"
    type(year)
    print(year)

    year_int = (year)
    type(year_int)
    print(year_int)

### print() and format()

```python
    name = "bryan"
    age = 32

    print("My name is {} and I am {} years old".format(name, age))

    print(f"My name is {name} and I am {age} years old")

### input()

```python
    name = input("What is your name: ")
    last_name = input("What is your last name: ")

    print(name)

    print(f"your name is {name} and your last name is {last_name}")

# Data Structure

## 1 - Lists

### Creation

```python
    my_empty_list = []

    my_number_list = [1,2,3,4,5,6,7,7,7,8,3,4,5]

    my_string_list = ["bryan", "cristian", "melissa", "estefani"]

    my_crazy_list = [1,2,"bryan", 3.14, "melissa", True] 

    print(my_empty_list)
    print(my_number_list)
    print(my_string_list)
    
    type(my_number_list)

### Read

```python

    print(my_number_list)

    my_number_list[0]

    my_number_list[1]

    my_number_list[2]

    my_number_list[-1]

    my_string_list[1]

### Slicing

```python
    my_number_list[0:3]

    my_number_list[:4]

    my_number_list[2:]

### Update

```python
    my_number_list[0] = 100
    
    print(my_number_list)

    my_string_list[2] = "magnolia"
    
    print(my_string_list)

### Delete

```python
    print(my_string_list)

    ## Using pop()
    my_string_list.pop()

    print(my_string_list)

    my_string_list.pop(1)

    print(my_string_list)



    print(my_number_list)

    del my_number_list[1]

    print(my_number_list)

## 2 - Tuples

### Creation

```python
    my_empty_tuple = ()

    my_number_tuple = (1,2,3,4,5,6,7,7,7,8)

    my_string_tuple = ("bryan", "cristian", "melissa", "estefani")

    my_crazy_tuple = (1,2,"bryan", 3.14, "melissa", True)

    print(my_number_tuple)
    print(my_string_tuple)
    print(my_crazy_tuple)

    type(my_crazy_tuple)

### Slicing

```python
    my_number_tuple[0:3]

    my_string_tuple[:4]

    my_crazy_tuple[2:]

### Update and Delete

```python
    my_number_tuple[0] = 100

    my_string_tuple[2] = "magnolia"

    my_number_tuple.pop(0)

    del my_number_tuple[1]

## 3 - Dictionaries

### Creation

```python
    member_1 = {"name":"bryan", "age":31, "married":True, "sec":"Male", "email": "bryan.david@gmail.com"}

    member_1 = {
        "name": "bryan",
        "age": 31,
        "married": True,
        "sex": "Male",
        "email": "bryan.david@gmail.com"
    }

    member_2 = {
        "name": "melissa",
        "age": 31,
        "married": True,
        "sex": "Female",
        "email": "melissa.mejia@gmail.com"
    }

### Read

```python
    member_1["name"]

    member_2["name"]

    member_1["email"]

    member_2["sex"]

### Update

```python
    member_1["age"] = 32

    print(member_1)

    member_2["email"] = "melissa.guti@gmail.com"

    print(member_2)

### Delete

```python
    print(member_1)

    member_1.pop("age")

    print(member_1)

    
    print(member_2)

    del member_2["sex"]

    print(member_2)

## 4 - Useful functions

### append()

```python

    my_other_list = [1,2,3,6,5,4]

    new_number = 7

    my_new_list = my_other_list.append(new_number)

    print(my_other_list)

```python
    english_members = ["bryan", "melissa", "estefani", "cristian"]
    print(english_members)

    # Update the list

    new_member = "alfonso"

    english_members = english_members.append(new_member)
    print(english_members)

    #Update the list again

    new_member = "diana"

    english_members = english_members.append(new_member)
    print(english_members)

### insert()

```python
    numbers = [1,2,3,4,5]
    print(numbers)

    numbers.insert(1, "magnolia")

    print(numbers)

    numbers.insert(-1, 666)

    print(numbers)

### index()

```python
    letters = ["z", "y", "x", "a", "b"]
    
    letters.index("z")

```python    
    english_members = ["bryan", "melissa", "estefani", "cristian"]
    
    melissa_position = english_members.index("melissa")

    print("The position of melissa in the list english members is ", melissa_position)

### reverse()

```python
    elements = [1,2,3,"car", "shoe"]
    print(elements)

    elements.reverse()

    print(elements)

### sort()

```python
    numbers = [5,2,78,4,2,8,77,5]

    print(numbers)

    numbers.sort()

    print(numbers)

```python
    english_members = ["magnolia", "melissa", "cristian", "estefani", "bryan"]
    print(english_members)

    english_members.sort()

### range()

```python 
    my_range = range(1,10)
    print(my_range)

    my_other_range = range(20)
    print(my_other_range)

### list() and tuple()

```python
    numbers = [1,2,3,4,5,6] 
    print(numbers)
    print(type(numbers))

    tuple(numbers)
    print(numbers)
    print(type(numbers))

    list(numbers)
    print(numbers)
    print(type(numbers))

# Data Types and Data Structure Implementation (project)

1) Image that you have a company and you decide to increase de salary of each employ create a python script that ask you for the employ data and print a letter for each employ using the variables, name, last_name, years_working, current_salary, amount_salary_up, new_salary.

2. Now try to use a dictionary structure to save al the information with a variable employ_id, and print the letter using the new dictionary eg.
```python
    id_00001 = {
        "name": "",
        "last"
    }